.page-enter {
    opacity: 0;
    transform: translateY(8px);
  }
  .page-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 350ms ease, transform 350ms ease;
  }
  